@charset "utf-8";
/* CSS Document */

/* float left */
#header::after, #container::after{content:""; display: block; clear: both;}
body{overflow-y: scroll;}
#wrap{margin: 0 auto;overflow: hidden;min-width: 1200px;width:1200px;}

#header{position: fixed;top: 0;left: 50%;margin-left: -600px;width: 1200px;height: 60px;border-bottom: 1px solid #ddd;background-color: #fff;z-index: 10;}
#header h1{float: left;margin-left: 32px;font-weight: 500;font-size: 2.2rem;line-height: 60px;}
#header span{display: none; float: left; margin-left: 32px; font-size: 2.4rem; line-height: 60px; cursor: pointer;}

.aside_wrap{position: fixed;top: 61px;left: 50%;margin-left: -600px;height: 100%;width: 325px;z-index: 30;}
#aside{position: absolute;overflow-y: auto;padding: 0 32px;width: 260px;height: calc(100vh - 61px);border-right: 1px solid #ddd;font-weight: 500;font-size: 1.6rem;line-height: 2.4rem;background-color: #fff;}
#aside .depth1 > li{margin: 16px 0;}
#aside .depth2{margin-left: 16px; font-weight: 400;}
#aside .depth2 a{color: #666;}
#aside .depth2 a:hover, #aside .on a{color: #4481eb;}
#aside .depth3{margin-left: 24px; font-size: 1.4rem;}

#content{margin: 61px 0 0 326px;padding: 32px;width: 815px;}
#content h2{font-weight: 500;font-size: 3.2rem;text-align: center;}
#content h2::after{content:""; display: block; margin: 16px auto 20px; width: 5px; height: 30px; background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%); ; transform: rotate(45deg);}
#content h3{margin: 24px 0 8px;padding-bottom: 8px;border-bottom: 1px solid #ddd;font-weight: 500;font-size: 2.2rem;}
#content h4{padding-top: 18px; font-weight: 500; font-size: 1.8rem;}
#content h3 + h4{padding: 0;}
#content p, #content strong, #content ul, #content a{font-weight: 400;font-size: 1.6rem;line-height: 2.8rem;}
#content li::before{content:"";display: block;float: left;margin: 13px 8px;width: 2px;height: 2px;background-color: #000;}
#content a{position: relative;box-shadow: inset 0 -6px 0 #ddd; transition: all 0.3s ease;}
#content a:hover{box-shadow: inset 0 -24px 0 #4481eb;}
#content a:hover{color: #fff;}
#content blockquote{margin:10px 0;padding: 0 16px;border-left: 4px solid #e3f6fc;font-size: 1.6rem;line-height: 2.4rem;color: #aaa;}
#content small{display: block;text-align: right;font-weight: 400;font-size: 1.2rem;color: #aaa;}

#content pre{position: relative;}
#content pre::before{position: absolute;top: 16px;right: 16px;display: block; font-family: "Noto Sans KR", sans-serif;font-weight: 400;font-size: 1.4rem; line-height: 3.2rem; color: #fff;text-align: center;z-index: 10;}
#content pre.html::before{content: "html"}
#content pre.javascript::before{content: "javascript"}
#content pre.css::before{content: "css"}
#content pre.shell::before{content: "git"}
#content code{position: relative;padding: 16px;border-radius: 12px;font-family: "Noto Sans KR", sans-serif;font-weight: 400;font-size: 1.4rem;}
#content code span.javascript, #content code span.hljs-tag, #content code span.hljs-function, #content code span.css, #content code span.hljs-params, #content code span.bash, #content code span.hljs-selector-class{color: #abb2bf;}

/* 반응형 */
@media screen and (max-width: 1280px){
    #wrap{width: 100%; min-width: 0;}
    #header{width: 100%;margin-left: -50vw;}
    .aside_wrap{margin-left: -50vw;width: 325px;}
    #content{margin: 61px 0 0 326px;width: calc(100% - 390px);}
}
@media screen and (max-width: 960px){
    html{font-size: 9px;}
    #header{width: auto;left: 0;right:0;bottom: 0;margin-left: 0;}
    #header h1{margin-left: 0;font-size: 2.75rem;}
    #header span{display: block;margin-left: 0;padding: 0 16px;}
    .aside_wrap{display: none; width: 100%;background-color: rgba(0,0,0,0.5);z-index: 30;}
    #aside.on{overflow-y: auto;display: block;position: absolute;top: 0;left: 0;margin-top: 0;width: 250px;font-size: 2rem;line-height: 3.2rem;background: #fff;z-index: 10;}
    #content{width: calc(100% - 64px);margin-left: 0;left: 0;}
    #content li::before{margin: 11px 8px;}
    #content p, #content strong, #content ul{word-break: break-all;}
}